In [1]:
import pandas as pd

# Remove dataFrame display size restrictions
#pd.set_option("display.max_rows", None, "display.max_columns", None)

# housing = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/re_data_clean.csv")
# walk = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/walkscore_data_clean.csv")
# trees = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/tree_data_clean.csv")
# stations = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/stations_data_clean.csv")
# brownfields = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/brownfields_data_clean.csv")
# crime = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/crime_data_clean.csv")


housing = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/re_data_clean.csv")
walk = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/walkscore_data_clean.csv")
trees = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/tree_data_clean.csv")
stations = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/stations_data_clean.csv")
brownfields = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/brownfields_data_clean.csv")
crime = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/crime_data_clean.csv")
elem = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/final_elementary.csv")
middle = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/final_middle.csv")
high = pd.read_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/final_high.csv")

### Walkability

In [2]:
walk = walk[['zipcode', 'walkable_false', 'walkable_true']]

walk = walk.groupby(by=["zipcode"]).sum()

walk.head()

         walkable_false  walkable_true
zipcode
10001                 0             18
10002                 0             35
10003                 0             60
10004                 0              4
10005                 0             14

In [3]:
trees.columns

Index(['index', 'boro_ct', 'borocode', 'borough', 'health', 'latitude',
       'longitude', 'nta', 'neighborhood', 'species', 'status', 'tree_id',
       'year_planted', 'zipcode', 'status_tier', 'status_alive', 'status_dead',
       'status_stump', 'health_level', 'health_level_dead',
       'health_level_fair', 'health_level_good', 'health_level_poor'],
      dtype='object')

### Trees

In [4]:
trees = trees[['zipcode','health_level_dead',
       'health_level_fair', 'health_level_good', 'health_level_poor']] 

trees = trees.groupby(by=["zipcode"]).sum()

trees.head()

,health_level_dead,health_level_fair,health_level_good,health_level_poor
zipcode,,,,
83,3.0,39.0,885.0,8.0
10001,61.0,100.0,719.0,31.0
10002,107.0,387.0,1656.0,115.0
10003,82.0,361.0,1480.0,102.0
10004,1.0,17.0,97.0,3.0

In [5]:
stations.columns

Index(['index', 'ada_access', 'borough', 'lat_field', 'lon_field', 'line',
       'station_id', 'station_name', 'ada_level', 'ada_access_no',
       'ada_access_yes', 'ada_access_partial', 'location', 'zipcode'],
      dtype='object')

### Stations

In [6]:
stations = stations[['zipcode','ada_access_no',
       'ada_access_yes', 'ada_access_partial']]


stations = stations.groupby(by=["zipcode"]).sum()

stations.head()

         ada_access_no  ada_access_yes  ada_access_partial
zipcode
10000                0               1                   0
10001                4               3                   0
10002                6               1                   0
10003                8               3                   0
10004                2               1                   0

### Brownfields

In [7]:
brownfields = brownfields[['zipcode','type_is_active_cleanup_mild_threat',
       'type_is_active_significant_threat', 'type_is_completed_clean',
       'type_is_maintain_continued_threat', 'type_is_potential_threat']]


brownfields = brownfields.groupby(by=["zipcode"]).sum()

brownfields.head()

,type_is_active_cleanup_mild_threat,type_is_active_significant_threat,type_is_completed_clean,type_is_maintain_continued_threat,type_is_potential_threat
zipcode,,,,,
10001,3,0,7,0,1
10002,1,0,0,0,0
10004,1,0,2,0,0
10005,1,0,0,0,0
10007,0,0,1,0,0

### Crime

In [8]:

crime = crime[['zipcode', 'type_is_felony', 'type_is_violation', 'type_is_misdemeanor', 'danger_level_is_high', 'danger_level_is_low']]


crime = crime.groupby(by=["zipcode"]).sum()


crime.head()

,type_is_felony,type_is_violation,type_is_misdemeanor,danger_level_is_high,danger_level_is_low
zipcode,,,,,
10001,308,166,469,77,866
10002,614,265,1084,221,1742
10003,624,159,947,239,1491
10009,300,153,483,86,850
10010,406,211,685,189,1113

In [9]:
elem.columns

Index(['Unnamed: 0', 'ranking', 'school_name', 'school_type', 'address',
       'city', 'zipcode', 'county', 'district', 'is_charter', 'is_magnet',
       'is_title_i', 'total_students', 'full_time_teachers',
       'student_teacher_ratio', 'free_lunch_recipient', 'white', 'black',
       'hispanic', 'asian', 'total_expenditure_per_pupil', 'ranking_quartile',
       'type_is_Top 25th Percentile', 'type_is_50th Percentile',
       'type_is_75th Percentile', 'type_is_Bottom 25th Percentile',
       'lunch_eligibity_high', 'lunch_eligibity_high_False',
       'lunch_eligibity_high_True'],
      dtype='object')

In [10]:
elem = elem[['zipcode', 'lunch_eligibity_high_False','lunch_eligibity_high_True', 
             'type_is_Top 25th Percentile', 'type_is_50th Percentile',
             'type_is_75th Percentile', 'type_is_Bottom 25th Percentile']]


elem = elem.groupby(by=["zipcode"]).sum()


elem.head()

,lunch_eligibity_high_False,lunch_eligibity_high_True,type_is_Top 25th Percentile,type_is_50th Percentile,type_is_75th Percentile,type_is_Bottom 25th Percentile
zipcode,,,,,,
10001,1,0,1,0,0,0
10002,7,7,6,2,4,2
10003,3,1,3,1,0,0
10007,1,0,1,0,0,0
10009,4,4,1,2,3,2

In [11]:
middle = middle[['zipcode', 'lunch_eligibity_high_False','lunch_eligibity_high_True', 
             'type_is_Top 25th Percentile', 'type_is_50th Percentile',
             'type_is_75th Percentile', 'type_is_Bottom 25th Percentile']]


middle = middle.groupby(by=["zipcode"]).sum()


middle.head()

,lunch_eligibity_high_False,lunch_eligibity_high_True,type_is_Top 25th Percentile,type_is_50th Percentile,type_is_75th Percentile,type_is_Bottom 25th Percentile
zipcode,,,,,,
10002,4,5,1,3,2,3
10003,5,0,3,2,0,0
10004,2,0,0,1,1,0
10009,2,1,0,2,0,1
10010,3,0,0,3,0,0

In [12]:
high = high[['zipcode', 'lunch_eligibity_high_False','lunch_eligibity_high_True', 
             'type_is_Top 25th Percentile', 'type_is_50th Percentile',
             'type_is_75th Percentile', 'type_is_Bottom 25th Percentile']]


high = high.groupby(by=["zipcode"]).sum()


high.head()

,lunch_eligibity_high_False,lunch_eligibity_high_True,type_is_Top 25th Percentile,type_is_50th Percentile,type_is_75th Percentile,type_is_Bottom 25th Percentile
zipcode,,,,,,
10002,2,11,3,1,3,6
10003,3,5,1,0,4,3
10004,2,3,1,0,2,2
10006,0,2,0,0,0,2
10010,1,2,2,0,0,1

In [13]:
frames = [walk, trees, stations, brownfields, crime, elem, middle, high]

nan_value=0

result = pd.concat(frames, join='outer', axis=1).fillna(nan_value)
result.to_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/merged.csv")

In [14]:
# nandrop = result.dropna()
# nandrop

In [15]:
dfinal = housing.merge(result, on="zipcode", how = 'left')
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

dfinal.fillna(nan_value)
dfinal.to_csv("C:/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/merged_re.csv")

In [16]:
#import libraries and dependencies
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [24]:
# X = dfinal[['bed', 'bath', 'days_on_market', 'dom_tier', 'dom_lowerbound', 'dom_iqr', 'dom_upperbound','dom_extended', 
#             'dom_outlier', 'walkable_false', 'walkable_true', 'health_level_dead', 'health_level_fair', 'health_level_good',
#             'health_level_poor', 'ada_access_no', 'ada_access_yes', 'ada_access_partial', 
#             'type_is_active_cleanup_mild_threat','type_is_active_significant_threat','type_is_completed_clean',
#             'type_is_maintain_continued_threat', 'type_is_potential_threat', 'type_is_felony', 'type_is_violation', 
#             'type_is_misdemeanor', 'danger_level_is_high', 'danger_level_is_low', 'lunch_eligibity_high_False', 
#             'lunch_eligibity_high_True', 'type_is_Top 25th Percentile', 'type_is_50th Percentile', 'type_is_75th Percentile',
#             'type_is_Bottom 25th Percentile', 'lunch_eligibity_high_False', 'lunch_eligibity_high_True', 
#             'type_is_Top 25th Percentile', 'type_is_50th Percentile', 'type_is_75th Percentile', 
#             'type_is_Bottom 25th Percentile', 'lunch_eligibity_high_False', 'lunch_eligibity_high_True', 
#             'type_is_Top 25th Percentile', 'type_is_50th Percentile', 'type_is_75th Percentile', 
#             'type_is_Bottom 25th Percentile' ]]

# X.astype(int)

X = dfinal[['bed', 'bath', 'days_on_market', 'dom_tier', 'dom_lowerbound', 'dom_iqr', 'dom_upperbound','dom_extended', 
            'dom_outlier', 'walkable_false', 'walkable_true', 'health_level_dead', 'health_level_fair', 'health_level_good',
            'health_level_poor', 'ada_access_no', 'ada_access_yes', 'ada_access_partial', 
            'type_is_active_cleanup_mild_threat','type_is_active_significant_threat','type_is_completed_clean',
            'type_is_maintain_continued_threat', 'type_is_potential_threat', 'type_is_felony', 'type_is_violation', 
            'type_is_misdemeanor']]

X.astype(int)

,bed,bath,days_on_market,dom_tier,dom_lowerbound,dom_iqr,dom_upperbound,dom_extended,dom_outlier,walkable_false,walkable_true,health_level_dead,health_level_fair,health_level_good,health_level_poor,ada_access_no,ada_access_yes,ada_access_partial,type_is_active_cleanup_mild_threat,type_is_active_significant_threat,type_is_completed_clean,type_is_maintain_continued_threat,type_is_potential_threat,type_is_felony,type_is_violation,type_is_misdemeanor
0,1,2,75,1,0,1,0,0,0,0,85,94,195,1769,76,5,2,0,1,0,10,0,1,664,200,924
1,1,1,60,1,0,1,0,0,0,0,104,57,375,1756,72,2,2,0,0,0,3,0,0,339,158,971
2,1,1,122,2,0,0,1,0,0,0,64,126,576,2796,198,4,1,0,1,0,0,0,0,401,177,891
3,2,3,72,1,0,1,0,0,0,0,85,94,195,1769,76,5,2,0,1,0,10,0,1,664,200,924
4,2,2,134,2,0,0,1,0,0,0,67,80,370,2763,98,3,0,0,0,0,2,0,0,130,78,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37223,1,1,105,1,0,1,0,0,0,1,467,394,1276,3228,259,11,1,0,3,0,3,0,0,42,28,60
37224,7,5,105,1,0,1,0,0,0,1,467,394,1276,3228,259,11,1,0,3,0,3,0,0,42,28,60
37225,8,1,105,1,0,1,0,0,0,1,467,394,1276,3228,259,11,1,0,3,0,3,0,0,42,28,60
37226,8,4,105,1,0,1,0,0,0,1,467,394,1276,3228,259,11,1,0,3,0,3,0,0,42,28,60
37227,2,2,32,0,1,0,0,0,0,1,467,394,1276,3228,259,11,1,0,3,0,3,0,0,42,28,60

In [25]:
y = dfinal[['sold_price']]
y.dtypes

sold_price    int64
dtype: object

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
rf = RandomForestClassifier(n_estimators=50, random_state=42)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

<ipython-input-27-4de135d53bdc>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = rf.fit(X_train, y_train)

0.16912001719136135

In [28]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.47969146157983056, 'days_on_market'),
 (0.13748972149361996, 'bed'),
 (0.13359886264304718, 'bath'),
 (0.02850097284010613, 'dom_tier'),
 (0.01716242825466411, 'dom_upperbound'),
 (0.015943342730770662, 'dom_lowerbound'),
 (0.015055201832055543, 'health_level_good'),
 (0.014811177273597018, 'health_level_fair'),
 (0.014622003029702768, 'health_level_dead'),
 (0.014604820866667262, 'health_level_poor'),
 (0.014183299380952929, 'dom_iqr'),
 (0.014030728713393163, 'type_is_misdemeanor'),
 (0.013827605859486896, 'type_is_felony'),
 (0.013583572423117245, 'type_is_violation'),
 (0.012039515627779843, 'dom_extended'),
 (0.011715998325227201, 'walkable_true'),
 (0.009837110398730099, 'type_is_completed_clean'),
 (0.008054874374916192, 'ada_access_no'),
 (0.007296953941987193, 'type_is_active_cleanup_mild_threat'),
 (0.006420763523285788, 'walkable_false'),
 (0.005421260255356275, 'ada_access_yes'),
 (0.003632048450596278, 'dom_outlier'),
 (0.0032248105515622805, 'type_is_potential_threat'),
 (0.003054359487814891, 'type_is_active_significant_threat'),
 (0.0013069124463448258, 'type_is_maintain_continued_threat'),
 (0.0008901936953876493, 'ada_access_partial')]